.portfolioManagerContainer {
  padding-bottom: 50px;
}

.portfolioPictureInTable {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.iconActions {
  color: var(--theme-red);
}

.portfolioCenterText {
  text-align: center;
}
